body {
    font-family:"Handlee", cursive;
    color: #747704;   
}

.text-muted {
    color: #bcbbbb;
}

.text-thin {
    font-weight: 100
}

.title-super {
    font-size: 60px;
}

.title-logo {
    margin-top: 20px;
}

.border {
    border-bottom: 1px solid black;
}

.col-md-12 {
    padding: 10px;
}

a {
    margin-left: 10px;
}

.t-uppercase {
    margin-left: 10px;
    text-transform:uppercase;

}

.uppercase {
    text-align: right;
    text-transform: uppercase;
}

img{
    border-radius: 20px;
}